<mat-toolbar style="background-color: cadetblue;" class="mat-elevation-z5">
<mat-toolbar-row>
  <span>Attest</span>
  <span class="example-spacer"></span>
  <button mat-icon-button routerLink="home"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    </button>
    <button mat-icon-button routerLink="setting"><mat-icon aria-hidden="false" aria-label="Settings icon" fontIcon="settings"></mat-icon>
    </button>
    <button mat-icon-button routerLink="contacts"><mat-icon aria-hidden="false" aria-label="Example contact icon" fontIcon="contacts"></mat-icon>
</button>
</mat-toolbar-row>
</mat-toolbar> 

<mat-sidenav-container>
       <mat-sidenav mode="side" opened >
            <mat-nav-list style="width: 200px;">
                  <a mat-list-item  routerLink="one"><mat-icon>dashboard</mat-icon>Dashboard</a>
                  <a mat-list-item routerLink="student"><mat-icon>assignment</mat-icon>Function</a>
                  <a mat-list-item routerLink="customer"><mat-icon>build</mat-icon>Scenario</a>
                  <a mat-list-item routerLink="Testsuite"><mat-icon>class</mat-icon>Testsuite</a>
                  <a mat-list-item routerLink="dataset"><mat-icon>explore</mat-icon>DataSet</a>
                  <a mat-list-item routerLink="feedback"><mat-icon>done</mat-icon> Feedback </a>
             </mat-nav-list>
       </mat-sidenav>
          <mat-sidenav-content>
            <p style="height:88vh">
              <router-outlet></router-outlet>
            </p>
          </mat-sidenav-content>
</mat-sidenav-container>

<input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone:true}">
<p>{{name}}</p>