.homepage{
    color: black;
    text-align:center;
    font-size: 30px;
    
    font-family: Elephant;
}

html, body { height: 100%; font-size: large;}
body { margin: 0; font-family: Elephant, "Helvetica Neue", sans-serif; }

.example-icon {
    padding: 20px;
}

.example-spacer {
    flex: 1 1 auto;
}

.mat-drawer-container {
    background-color: black;
}

.mat-drawer {
     background-color: lightblue;
}
.mat-elevation-z5 {
    position:relative;
    z-index: 2;
}

.mat-sidenav a:hover {
    color: Red;
}


